
/* HOME COMPONENTS PLACEMENT */
.home-content-container {
    width: 1910px;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* GIRL IMAGE */
.bkg-girl-image {
    width: 550px;
    height: 830px;
}