@import url("../../index.css");

.header-style {
    font-family: 'Quantico';

    .header-navbar-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .header-logo {
            width: 250px;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .header-logo-text {
                font-size: larger;
            }
        }
    
        .header-navbar-pages {
            width: 250px;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            font-size: medium;
        }
    }
}

