.main-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .main-page-woman {
        width: 400px;
        height: 600px;
    }
    
    .main-right-section {
        display: flex;
        flex-direction: column;

        .main-right-section-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .main-right-section-title {
                font-size: xx-large;
            }

            .main-right-section-text {
                font-size: large;
            }
        }

        .main-right-section-action {
            .main-right-section-button {
                width: 100px;
                height: 35px;
                color: #FFFFFF;
                background-color: #1762A7;
                border-radius: 10px;
                font-family: 'Quantico';
                font-size: medium;
            }
        }
    }
}


